<!DOCTYPE html>
<html>
  <head>
    <title>更新演员</title>
    <Link rel = 'stylesheet' href = '/bootstrap/dist/css/bootstrap.min.css' />
        <Link rel = 'stylesheet' href = '/stylesheets/font-awesome.min.css' />
        <Link rel = 'stylesheet' href = '/stylesheets/ionicons.min.css' />
        <Link rel = 'stylesheet' href = '/admin-lte/dist/css/AdminLTE.min.css' />
        <Link rel = 'stylesheet' href = '/admin-lte/dist/css/skins/skin-blue.min.css' />
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
   <div class="wrapper">

  <!-- Main Header -->
  <%- include('./header.ejs') %>
  <!-- Left side column. contains the logo and sidebar -->
  <%- include('./leftside.ejs') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	<!-- Content Header (Page header) -->
		<section class="content-header">
		  <h1>
		    Cast_update
		    <small>Optional description</small>
		  </h1>
		  <ol class="breadcrumb">
		    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
		    <li class="active">Here</li>
		  </ol>
		</section>
		
		<!-- Main content -->
		<section class="content">
		
		  <!-- Your Page Content Here -->
			<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Horizontal Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method='post' action='/cast_update_action'>
              <div class="box-body">
                <div class="form-group">
                  <label for="id" class="col-sm-2 control-label">ID</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="id" name='id' placeholder="id" readonly value='<%= result[0].id %>'>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name='name' placeholder="Name" value='<%= result[0].name %>'>
                  </div>
                </div>
                <div class="form-group">
                  <label for="alt" class="col-sm-2 control-label">Alt</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="alt" name='alt' placeholder="Alt" value='<%= result[0].alt %>'>
                  </div>
                </div>
                <div class="form-group">
                  <label for="img" class="col-sm-2 control-label">Img</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="img" name='img' placeholder="Img" value='<%= result[0].avatars.large %>'>
                  </div>
                </div>
                
                <input type="hidden" name='limitNum' value='<%= limitNum %>' />
                <input type="hidden" name='pageNum' value='<%= pageNum %>' />
                
              <!-- /.box-body -->
              </div>
              <div class="box-footer">
              	<div class="form-group">
                  <label for="name" class="col-sm-2 control-label"></label>
                  <div class="col-sm-10">
                  	<button type="submit" class="btn btn-default">Cancel</button>
                		<button type="submit" class="btn btn-info">Update</button>
                  </div>
               </div>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
		</section>
		<!-- /.content -->
	</div>

  <!-- Main Footer -->
  <%- include('./footer.ejs') %>
  <!-- Control Sidebar -->
  <%- include('./rightside.ejs') %>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
  </body>
<script src = "/javascripts/jquery.min.js" ></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js" ></script>
<script src = "/javascripts/app.min.js" ></script>
</html>
